deploy
deploy/**
docker/volumes
docker/volumes/**
**/.mongodb
**/.mongodb/**

**

!api/
!api/**
!dify-agent/
!dify-agent/pyproject.toml
!dify-agent/README.md
!dify-agent/src/
!dify-agent/src/**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.nvmrc
!web/
!web/**
!e2e/
!e2e/package.json
!packages/
!packages/**
!sdks/
!sdks/nodejs-client/
!sdks/nodejs-client/package.json

.git
node_modules
.pnpm-store

api/.venv
api/.venv/**
api/.env
api/*.env.*
api/.idea
api/.mypy_cache
api/.pytest_cache
api/.ruff_cache
api/storage/generate_files/*
api/storage/privkeys/*
api/storage/tools/*
api/storage/upload_files/*
api/logs
api/*.log*

web/.env
web/.env.*
web/logs
web/*.log*
web/node_modules
web/dist
web/build
web/coverage
web/.next
web/.pnpm-store
web/.vscode
web/.idea
web/*.iml
web/*.iws
web/*.ipr

e2e/node_modules
