FASTGPT_URL=http://192.168.31.53:3020
FASTGPT_MCP_URL=http://192.168.31.53:3025
FASTGPT_MINIO_URL=http://192.168.31.53:9030
FASTGPT_ROOT_USER=root
FASTGPT_ROOT_PASSWORD=change-me
OPENAI_COMPATIBLE_BASE_URL=http://118.196.65.83:8080/v1
OPENAI_COMPATIBLE_API_KEY=change-me
