LOBE_PORT=3211
RUSTFS_PORT=9020
RUSTFS_ADMIN_PORT=9021
APP_URL=http://192.168.31.53:3211
NEXT_PUBLIC_SITE_URL=http://192.168.31.53:3211
KEY_VAULTS_SECRET=change-me
AUTH_SECRET=change-me
LOBE_DB_NAME=lobechat_full
POSTGRES_PASSWORD=change-me
S3_ENDPOINT=http://192.168.31.53:9020
RUSTFS_ACCESS_KEY=lobechatfull
RUSTFS_SECRET_KEY=change-me
RUSTFS_LOBE_BUCKET=lobe
OPENAI_API_KEY=change-me
OPENAI_PROXY_URL=http://118.196.65.83:8080/v1
OPENAI_MODEL_LIST=-all,+gpt-5.5,+gpt-5.2=deepseek v4 flash
ACCESS_CODE=
