MATERIAL_CATALOG_PORT=8091
MATERIAL_CATALOG_ALLOWED_ROOTS=storage,.
MATERIAL_CATALOG_SYNC_INTERVAL_SECONDS=3600
MATERIAL_CATALOG_MAX_HASH_BYTES=536870912
DIFY_APP_VOLUME_HOST=/opt/mmb-dify/current/docker/volumes/app
DIFY_DOCKER_NETWORK=mmb-dify-v010_default
DIFY_DB_HOST=db_postgres
DIFY_DB_PORT=5432
DIFY_DB_NAME=dify
DIFY_DB_USER=postgres
DIFY_DB_PASSWORD=
